#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x16, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif


10109 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	PUSHBUTTON	"< &Anterior",12,195,285,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Seguinte >",1,250,285,50,14
	PUSHBUTTON	"Cancelar",9,400,285,50,14
	LTEXT		"ID de &Início de sessão:",-1,144,200,302,9
	EDITTEXT	301,144,209,302,12,ES_LEFT | WS_GROUP
	LTEXT		"&Palavra-passe:",-1,144,234,302,9
	EDITTEXT	305,144,246,302,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	CONTROL		10001,17820,"Static",SS_BITMAP | SS_RIGHTJUST | SS_REALSIZEIMAGE | SS_ENDELLIPSIS | WS_DISABLED,0,0,459,46
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,32,120,240,0,WS_EX_TRANSPARENT
	CONTROL		"",1302,"Static",SS_ETCHEDHORZ | WS_GROUP,125,148,334,1
	CONTROL		"&Autenticação Windows",17813,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP,142,168,303,11
	CONTROL		"Autenticação do Servidor S&QL utilizando a ID de início de sessão e a palavra-passe abaixo",17814,"Button",BS_AUTORADIOBUTTON,142,182,303,11
	COMBOBOX	17815,135,108,310,80,CBS_SORT | CBS_DROPDOWN | WS_VSCROLL,WS_EX_TRANSPARENT
	PUSHBUTTON	"P&rocurar...",31,395,126,50,14,NOT WS_TABSTOP
	LTEXT		"Início da sessão do servidor de base de dados",50,10,0,220,8,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	LTEXT		"Seleccione o servidor de base de dados e o método de autenticação.",51,16,12,213,19,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	LTEXT		"Seleccione o servidor de base de dados a partir da seguinte lista ou clique em Procurar para ver a lista de todos os servidores de base de dados. Pode ainda especificar o caminho para autenticar o início de sessão utilizando as suas credenciais",710,135,47,310,30,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Ligue-se utilizando:",901,135,155,310,11,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"&Servidor de base de dados:",902,135,98,306,11
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10201 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Seguinte >",1,250,285,50,14,WS_GROUP
	PUSHBUTTON	"Cancelar",9,400,285,50,14
	PUSHBUTTON	"P&rocurar...",31,388,231,50,14
	PUSHBUTTON	"< &Anterior",12,195,285,50,14
	LTEXT		"O programa de configuração vai instalar %P na pasta seguinte.\n\nPara instalar esta pasta, faça clique sobre Seguinte. Para instalar para uma pasta diferente, faça clique sobre Procurar e seleccione outra pasta.",202,155,49,290,80,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"c:\\path\\company\\product\\suite\\version",201,162,235,196,8,ES_AUTOHSCROLL | SS_NOPREFIX | SS_LEFTNOWORDWRAP
	LTEXT		"Seleccione a localização de destino",50,11,3,253,8,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	LTEXT		"Seleccione a pasta onde o programa irá instalar os ficheiros.",51,19,15,244,19,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	CONTROL		10001,1201,"Static",SS_BITMAP | SS_RIGHTJUST | SS_REALSIZEIMAGE | SS_ENDELLIPSIS | WS_DISABLED,0,0,459,46
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
	GROUPBOX	"Pasta de destino",-1,155,219,290,32,NOT WS_TABSTOP | 0x40000000
END


10305 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"O programa de configuração do %P está a executar as operações necessárias.",710,155,49,290,32,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",1450,155,104,290,8,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",1400,155,89,290,8,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Estado do programa de configuração",50,11,3,253,8,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	LTEXT		"",51,19,15,244,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"",7,2,182,46,10,NOT WS_VISIBLE
	PUSHBUTTON	"Cancelar",2,400,285,50,14
	LTEXT		"Tempo restante estimado:",17809,155,143,115,12,NOT WS_VISIBLE
	LTEXT		"Taxa de transferência:",17810,155,161,112,12,NOT WS_VISIBLE
	LTEXT		"",17811,278,143,78,11,NOT WS_VISIBLE
	LTEXT		"",17812,278,161,78,12,NOT WS_VISIBLE
	CONTROL		10001,17813,"Static",SS_BITMAP | SS_RIGHTJUST | SS_REALSIZEIMAGE | SS_ENDELLIPSIS | WS_DISABLED,0,0,459,46
	CONTROL		"Progress2",1500,"msctls_progress32",WS_BORDER,155,118,290,12,WS_EX_TRANSPARENT
END


12006 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Seguinte >",1,250,285,50,14,WS_GROUP
	PUSHBUTTON	"Cancelar",9,400,285,50,14
	PUSHBUTTON	"< &Anterior",12,195,285,50,14,WS_DISABLED
	LTEXT		"O InstallShield( Wizard vai instalar %P no computador.  Para continuar, faça clique sobre Seguinte. ",710,155,147,290,40,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"Bem-vindo ao programa de configuração %P ",50,155,116,290,27,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		10001,1201,"Static",SS_BITMAP | SS_RIGHTJUST | SS_REALSIZEIMAGE | SS_ENDELLIPSIS | WS_DISABLED,0,0,459,46
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12017 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	EDITTEXT	301,210,91,235,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	LTEXT		"Campo 1:",719,155,93,54,8
	LTEXT		"Este texto é modificado pelo parâmetro 'szMsg'.  Pode reposionar os controlos nesta caixa de diálogo e adicionar campos de texto estático.",711,155,49,290,33,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",712,155,172,290,17,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Anterior",12,195,285,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Seguinte >",1,250,285,50,14
	PUSHBUTTON	"Cancelar",9,400,285,50,14
	LTEXT		"Editar dados",50,11,3,253,8,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	LTEXT		"Introduza os dados necessários.",51,19,15,244,19,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	CONTROL		10001,1201,"Static",SS_BITMAP | SS_RIGHTJUST | SS_REALSIZEIMAGE | SS_ENDELLIPSIS | WS_DISABLED,0,0,459,46
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12032 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	CONTROL		"Sim, pretendo visualizar o ficheiro Leia-me.",501,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,155,123,290,12
	CONTROL		"Sim, pretendo iniciar %p agora.",502,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,155,140,290,16
	LTEXT		"",712,155,162,290,56,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Anterior",12,195,285,50,14,WS_GROUP
	DEFPUSHBUTTON	"Concluir",1,250,285,50,14
	PUSHBUTTON	"Cancelar",9,400,285,50,14,WS_DISABLED
	LTEXT		"O InstallShield Wizard concluiu com êxito a instalação de %P. Faça clique sobre Terminar para sair do assistente.",711,155,74,290,48,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"InstallShield Wizard concluído",50,155,49,290,16,0,WS_EX_TRANSPARENT
	CONTROL		10001,1201,"Static",SS_BITMAP | SS_RIGHTJUST | SS_REALSIZEIMAGE | SS_ENDELLIPSIS | WS_DISABLED,0,0,459,46
END


12068 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	DEFPUSHBUTTON	"&Instalar",1,250,285,50,14
	PUSHBUTTON	"Cancelar",9,400,285,50,14
	PUSHBUTTON	"< &Anterior",12,195,285,50,14,WS_GROUP
	LTEXT		"Clique em Instalar para iniciar a instalação.\n\nSe pretender rever ou alterar alguma das suas definições de instalação, clique em Anterior. Clique em Cancelar para sair do assistente.",711,155,49,290,200,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"O assistente está pronto para iniciar a instalação.",51,19,15,244,19,ES_AUTOHSCROLL | SS_NOPREFIX | NOT WS_VISIBLE,WS_EX_TRANSPARENT
	CONTROL		10001,1201,"Static",SS_BITMAP | SS_RIGHTJUST | SS_REALSIZEIMAGE | SS_ENDELLIPSIS | WS_DISABLED,0,0,459,46
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"Pronto para instalar o programa",50,11,3,253,8,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12069 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Seguinte >",1,250,285,50,14
	PUSHBUTTON	"Cancelar",9,400,285,50,14
	CONTROL		"",301,"RICHEDIT",ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,155,49,290,174,WS_EX_TRANSPARENT
	CONTROL		"&Aceito os termos do contrato de licença",1000,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP,155,239,232,10
	CONTROL		"&Não aceito os termos do contrato de licença",1001,"Button",BS_AUTORADIOBUTTON,155,251,232,10
	PUSHBUTTON	"< &Anterior",12,195,285,50,14,WS_GROUP
	LTEXT		"Contrato de licença",50,11,3,253,8,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	LTEXT		"Leia atentamente o contrato de licença a seguir.",51,19,15,244,19,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	PUSHBUTTON	"&Imprimir",10,395,239,50,14
	CONTROL		10001,1201,"Static",SS_BITMAP | SS_RIGHTJUST | SS_REALSIZEIMAGE | SS_ENDELLIPSIS | WS_DISABLED,0,0,459,46
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END




/////////////////////////////////////////////////////////////////////////////
//
// Bitmaps
//
10001		BITMAP	"Z:\\setup\\Magnetik_banner.bmp"
