#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x16, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif


10305 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"O programa de configuração do %P está a executar as operações necessárias.",710,155,49,290,32,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",1450,155,104,290,8,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",1400,155,89,290,8,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Estado do programa de configuração",50,11,3,253,8,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	LTEXT		"",51,19,15,244,19,ES_AUTOHSCROLL | SS_NOPREFIX | NOT WS_VISIBLE,WS_EX_TRANSPARENT
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	CONTROL		10001,17813,"Static",SS_BITMAP | SS_RIGHTJUST | SS_REALSIZEIMAGE | SS_ENDELLIPSIS | WS_DISABLED,0,0,459,46
	CONTROL		"Progress2",1500,"msctls_progress32",WS_BORDER,155,118,290,12,WS_EX_TRANSPARENT
	LTEXT		"Tempo restante estimado:",17809,155,143,115,12,NOT WS_VISIBLE
	LTEXT		"Taxa de transferência:",17810,155,161,112,12,NOT WS_VISIBLE
	LTEXT		"",17811,278,143,78,11,NOT WS_VISIBLE
	LTEXT		"",17812,278,161,78,12,NOT WS_VISIBLE
	PUSHBUTTON	"Cancelar",2,400,285,50,14,NOT WS_TABSTOP
	LTEXT		"",7,2,182,46,10,NOT WS_VISIBLE
END


12006 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Seguinte >",1,250,285,50,14,WS_GROUP
	PUSHBUTTON	"Cancelar",9,400,285,50,14
	PUSHBUTTON	"< &Anterior",12,195,285,50,14,WS_DISABLED
	LTEXT		"O InstallShield( Wizard vai instalar %P no computador.  Para continuar, faça clique sobre Seguinte. ",710,155,147,290,40,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"Bem-vindo ao programa de configuração %P ",50,155,116,290,27,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		10001,1201,"Static",SS_BITMAP | SS_RIGHTJUST | SS_REALSIZEIMAGE | SS_ENDELLIPSIS | WS_DISABLED,0,0,459,46
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12018 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"Campo 1:",719,155,94,54,8
	EDITTEXT	301,210,91,235,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	LTEXT		"Campo 2:",720,155,126,54,8
	EDITTEXT	302,210,123,235,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	LTEXT		"Este texto é modificado pelo parâmetro 'szMsg'.  Pode reposionar os controlos nesta caixa de diálogo e adicionar campos de texto estático.",711,155,49,290,33,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		10001,1201,"Static",SS_BITMAP | SS_RIGHTJUST | SS_REALSIZEIMAGE | SS_ENDELLIPSIS | WS_DISABLED,0,0,459,46
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"Editar dados",50,11,2,253,8,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
	LTEXT		"Introduza os dados necessários.",51,19,15,244,19,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	PUSHBUTTON	"Cancelar",9,400,285,50,14,NOT WS_TABSTOP
	DEFPUSHBUTTON	"&Seguinte >",1,250,285,50,14,NOT WS_TABSTOP
	PUSHBUTTON	"< &Anterior",12,195,285,50,14,NOT WS_TABSTOP | WS_GROUP
	LTEXT		"",712,19,163,342,17,ES_AUTOHSCROLL | SS_NOPREFIX
END


12032 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,NOT WS_VISIBLE
	CONTROL		"Sim, pretendo visualizar o ficheiro Leia-me.",501,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,155,123,290,12
	CONTROL		"Sim, pretendo iniciar %p agora.",502,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,155,140,290,16
	LTEXT		"",712,155,162,290,56,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Anterior",12,195,285,50,14,WS_GROUP
	DEFPUSHBUTTON	"Concluir",1,250,285,50,14
	LTEXT		"O InstallShield Wizard concluiu com êxito a instalação de %P. Faça clique sobre Terminar para sair do assistente.",711,155,74,290,48,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"InstallShield Wizard concluído",50,155,49,290,16,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"Cancelar",9,400,285,50,14,WS_DISABLED
	CONTROL		10001,1201,"Static",SS_BITMAP | SS_RIGHTJUST | SS_REALSIZEIMAGE | SS_ENDELLIPSIS | WS_DISABLED,0,0,459,46
END


12068 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	DEFPUSHBUTTON	"&Instalar",1,250,285,50,14
	PUSHBUTTON	"Cancelar",9,400,285,50,14
	PUSHBUTTON	"< &Anterior",12,195,285,50,14,WS_GROUP
	LTEXT		"Clique em Instalar para iniciar a instalação.\n\nSe pretender rever ou alterar alguma das suas definições de instalação, clique em Anterior. Clique em Cancelar para sair do assistente.",711,155,49,290,200,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"O assistente está pronto para iniciar a instalação.",51,19,15,244,19,ES_AUTOHSCROLL | SS_NOPREFIX | NOT WS_VISIBLE,WS_EX_TRANSPARENT
	CONTROL		10001,1201,"Static",SS_BITMAP | SS_RIGHTJUST | SS_REALSIZEIMAGE | SS_ENDELLIPSIS | WS_DISABLED,0,0,459,46
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"Pronto para instalar o programa",50,11,3,253,8,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12069 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Seguinte >",1,250,285,50,14
	PUSHBUTTON	"Cancelar",9,400,285,50,14
	CONTROL		"",301,"RICHEDIT",ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,155,49,290,174,WS_EX_TRANSPARENT
	CONTROL		"&Aceito os termos do contrato de licença",1000,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP,155,239,232,10
	CONTROL		"&Não aceito os termos do contrato de licença",1001,"Button",BS_AUTORADIOBUTTON,155,251,232,10
	PUSHBUTTON	"< &Anterior",12,195,285,50,14,WS_GROUP
	LTEXT		"Leia atentamente o contrato de licença a seguir.",51,19,15,244,19,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	CONTROL		10001,1201,"Static",SS_BITMAP | SS_RIGHTJUST | SS_REALSIZEIMAGE | SS_ENDELLIPSIS | WS_DISABLED,0,0,459,46
	LTEXT		"Contrato de licença",50,11,3,253,8,NOT WS_VISIBLE,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
	PUSHBUTTON	"&Imprimir",10,395,239,50,14,NOT WS_TABSTOP
END




/////////////////////////////////////////////////////////////////////////////
//
// Bitmaps
//
10001		BITMAP	"Z:\\setup\\Magnetik_banner.bmp"
